# Enable Rewrite
RewriteEngine On

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

# Optional: prevent access to storage files
<FilesMatch "users.json|error.log">
    Order Allow,Deny
    Deny from all
</FilesMatch>
